  #buttontrade {
    background-color: #e8e8e8;
    border: 1px solid #111111;
    border-radius: 10px;
    color: black;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 20px 20px 20px;
    float: right;
    }

    #tabletrades {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
    }

    #tabletrades td, #tabletrades th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #tabletrades tr:nth-child(even){background-color: #fefefe;}

    #tabletrades tr:hover {background-color: #ffff00;}

    #tabletrades th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #cdcdcd;
        color: black;
    }



        #buy_amount {
    background-color: #e8e8e8;
    }

    *{
        box-sizing: border-box;
    }


    .column {
        float: left;
        width: 33.33%;
        padding: 10px;
        text-align: center;
    }


    .row:after {
        content: "";
        display: table;
        clear: both;
    }

 .buttonstyle {
    background-color: #e8e8e8;
    border: 1px solid #111111;
    border-radius: 10px;
    color: black;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 20px 20px 20px;
    }

    .labelstyle{
    margin: 1px 1px -10px 1px;
    font-size: 13px;
    }

    .rate{
    border: none;
    text-align: center;
    font-size: 14px;
    }

    .selector{
    padding: 8px;
    width: 80%;
    text-align: center;
    font-size: 17px;
    }

    .amount{
    padding: 8px;
    width: 80%;
    text-align: center;
    font-size: 17px;
    }
