{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="author" content="Juan Manuel Quijada">
      <title>Ebury Test Developer | {% block title %}{% endblock %}</title>
      <link href="{% static "/css/style.css" %}" rel="stylesheet">
      {% block head %}{% endblock %}
   </head>

      {% block content %}{% endblock %}

</html>