{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Booked Trade {% endblock %}
{% block head %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

{% endblock %}

{% block content %}
  <body onload="get_Data()">
    <h2>Booked Trade</h2>
    <a href="{% url 'new_trade' %}" title="New Trade" id="buttontrade">New Trade</a>
    <br>
    <table id="tabletrades">
        <tr>
           <th>Sell CCY</th>
           <th>Sell Amount</th>
           <th>Buy CCY</th>
           <th>Buy Amount</th>
           <th>Rate</th>
           <th>Date Booked</th>
        </tr>
    </table>



    <script type="text/javascript">
        function get_Data() {
            $.ajax({
                data: {},
                type: "GET",
                data: {},
                dataType: "json",
                url: "http://127.0.0.1:8000/trade/",
                success: function(response) {
                    console.log('Success');
                },
                error: function(ts) {
                    console.log('Error is: ' + ts.responseText);
                },
            }).then(function(response) {
                var $tabla = $("#tabletrades");
                var trade;
                for (var idx in response) {
                    trade = response[idx];
                    date = new Date(trade.date_booked);
                    str_date = ("0" + date.getDate()).slice(-2) + '/' + ("0" + (date.getMonth() + 1)).slice(-2) + '/' + date.getFullYear() + ' ' + date.getUTCHours() + ':' + date.getUTCMinutes();
                    $tabla.append("<tr><td>" + trade.sell_currency + "</td><td>" + trade.sell_amount.toFixed(2) + "</td><td>" + trade.buy_currency + "</td><td>" + trade.buy_amount.toFixed(2) + "</td><td>" + trade.rate.toFixed(4) + "</td><td>" + str_date + "</td></tr>");
                }
            });
        };
    </script>
  </body>
{% endblock %}


