{% extends "base.html" %}
{% load staticfiles %}

{% block title %} New Trade {% endblock %}
{% block head %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{% endblock %}


{% block content %}
<body >
    <center>
       <form action="" method="post">
          {% csrf_token %}
          <div class="row" style="width: 700px;">
             <h2>New Trade</h2>
             <hr>
             <div class="column">
                <div class="labelstyle">Sell Currency </div>
                <br>
                <select id="sell_selector" class="selector" name="sell_currency" required>
                   <option value="" selected></option>
                   {% for item in list_symbol %}
                   <option value="{{item}}">{{item}}</option>
                   {% endfor %}
                </select>
                <br>
             </div>
             <div class="column">
                <p class="labelstyle">Rate </p>
                <br>
                ►<input class="rate" id="rate" type="text" name="rate"  readonly="readonly" >►
             </div>
             <div class="column">
                <p class="labelstyle">Buy Currency </p>
                <br>
                <select id="buy_selector" class="selector" name="buy_currency" required>
                   <br>
                   <option value="" selected></option>
                   {% for item in list_symbol %}
                   <option value="{{item}}">{{item}}</option>
                   {% endfor %}
                </select>
                <br>
             </div>
          </div>
          <div class="row" style="width: 700px;">
             <div class="column">
                <p class="labelstyle">Sell Amount</p>
                <br>
                <input id="sell_amount" class="amount" type="text" name="sell_amount" required> <br>
             </div>
             <div class="column">
             </div>
             <div class="column">
                <p class="labelstyle">Buy Amount</p>
                <br>
                <input id="buy_amount" class="amount" name="buy_amount" value="0"  readonly="readonly"> <br>
             </div>
          </div>
          <div class="row" style="width: 700px;">
             <div class="column">
                <button type="submit"  value="create" class="buttonstyle" style="float:left;">Create</button>
             </div>
             <div class="column">
                <p id="notice" style="color:red"></p>
             </div>
             <div class="column">
                <a href="{% url 'index' %}" title="Cancel" class="buttonstyle" style="float:right;">Cancel</a>
             </div>
          </div>
       </form>
    </center>

    <script src="{% static "/js/function.js" %}"></script>
      </body>
{% endblock %}


